In [1]:
%load_ext sql

In [2]:
from sqlalchemy import create_engine

%sql postgresql://postgres:Kira@localhost:5432/Sports.Retailer.Project

In [6]:
                                                # PROBLEM 1 #
# PART 1
# Find the total number of unique products.

In [4]:
# First, I used the COUNT function to get the total number of values in the product_id column. 
# I then used the COUNT function combined with the DISTINCT statement to find unique product names from the info table. 
# We see that many products have more than one product_id.

In [7]:
%%sql 
SELECT COUNT(product_id) as product_id_count, COUNT(DISTINCT product_name) AS unique_products_count 
FROM info

 * postgresql://postgres:***@localhost:5432/Sports.Retailer.Project
1 rows affected.

[(3179, 1511)]